# Apache Rewrite Rules
 <IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  RewriteBase /

  #Define o diretorio padrão 
  DirectoryIndex /home.php

  #Quando tentam acessar arquivo/diretorio inexistente, aponta para home.php
  ErrorDocument 404 /home.php
  
  

# End of Apache Rewrite Rules
 </IfModule>